<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Registration Page!</h1>
<form method="post" action="registration">
    <input type="text" name="username" placeholder="username"><br>
    <input type="password" name="password"><br>
    <input type="text" name="name" placeholder="name"><br>
    <input type="text" name="surname" placeholder="surname"><br>
    <input type="number" name="age" min="1" value="18"><br>
    <input type="number" name="number"><br>
    <button type="submit" name="registration">registration</button>
</form>
</body>
</html>